/* Import Tailwind CSS */
@import "tailwindcss";

/* Import custom fonts */
@font-face {
    font-family: 'Space Grotesk';
    src: url("./assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url("./assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url("./assets/fonts/Noto_Sans/NotoSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype");    
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}

/* Set up design tokens with @theme */
@theme {
    /* Breakpoints */
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1440px;

    /* Fonts */
    --font-main: 'Space Grotesk',
        'Noto Sans',
        sans-serif;
}

/* Make your container utility */
@utility container {
    margin-inline: auto;
    padding-inline: 1rem;

    /*   @screen sm {
        padding-inline: 2rem;
    }

    @screen lg {
        padding-inline: 4rem;
    }

    @screen xl {
        padding-inline: 5rem;
    }

    @screen 2xl {
        padding-inline: 6rem;
    } */
}

/* Add your font-family utilities */
@utility font-main {
    font-family: var(--font-main);
}